doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Shop
  link(rel='stylesheet' href='/css/shop.css')
header.main-header
  nav.main-header-nav
    ul.main-nav-items
      li.main-nav-item
        a(href='/') Shop
      li.main-nav-item
        a(href='/add-product') Add Product
main.main-content
  h2.main-heading My Products
  p.main-paragraph List of all products
